<style>
    .navbar {
        display: flex;
        background-color: rgb(160, 153, 153);
    }
</style>

<nav class="navbar">
    <div class="nav-item active">Home</div>
    <div class="nav-item">About</div>
    <div class="nav-item">Contact</div>
</nav>