<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | Home</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        .todo-container {
            display: flex;
            gap: 40px;
            margin-top: 20px;
        }

        @media screen and (max-width: 768px) {
            .todo-container {
                flex-direction: column;
                flex-direction: column-reverse;
            }
        }

    </style>
</head>
<body>
    <%- include("../partials/header.ejs"); %>
    <div class="todo-container">
        <div>
            <%- include("../partials/todo.ejs"); %>
        </div>
        <div>
            <%- include("../partials/inputForm.ejs"); %>
        </div>
    </div>
</body>
</html>